body{
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    background-color: wheat;
    width: 100vw;

}
.inicio{
    width: 90vw;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
}
.inputarea{
    width: 90vw;
    text-align: center;
    margin: 0 auto;
}
#infos{
    list-style: none;
    width: 90vw;
    margin: 0 auto;
}
#lettersDiv{
    min-height: 10vh;
    box-sizing: border-box;
    width: 45%;
    border: black solid 0.5vh;
    margin: 0 auto;
    margin-top: 2vh;
}
#wordsDiv{
    min-height: 10vh;
    box-sizing: border-box;
    width: 45%;
    border: black solid 0.5vh;
    margin: 0 auto;
    margin-top: 2vh;
}